@model Pizza.RetailWeb.Models.Home.AverageWaitTimeWidgetViewModel

<h2>Average wait time</h2>
<p>
    The current average wait time for a pizza is <strong> @Model.AverageWaitTime minutes</strong>.
</p>
<p>
    Wise man say: Forgiveness is divine, but never pay full price for late pizza.
</p>