@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Teh Pizza Shoppe</h1>
    <p class="lead">
        You should, like, totes order a pizza.
    </p>
</div>

<div class="row">
    <div class="col-lg-3" id="OrderAPizzaWidget">
    </div>
    <div class="col-lg-6" id="OrderStatusWidget">
    </div>
    <div class="col-lg-3" id="AverageWaitTimeWidget">
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {

            $.ajax({ url: "/Home/OrderAPizzaWidget" })
           .success(function (html) {
               $("#OrderAPizzaWidget").html(html);
           });

            $.ajax({ url: "/Home/OrderStatusWidget" })
           .success(function (html) {
               $("#OrderStatusWidget").html(html);
           });

            $.ajax({ url: "/Home/AverageWaitTimeWidget" })
            .success(function (html) {
                $("#AverageWaitTimeWidget").html(html);
            });

        });
    </script>
}