<h2>Order a pizza, dude!</h2>
<p>
    Oh, but no anchovies. And I mean NO anchovies. You put anchovies on this thing, and you're in big trouble!
</p>
<form method="post" action="/Home/PlaceOrder">
    <input type="text" name="customerName" placeholder="Customer Name" />
    <button class="btn btn-default" type="submit">Place Order</button>
</form>