<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AzureServiceBusConnectionString" value="Endpoint=sb://{MachineName}/Nimbus;StsEndpoint=https://{MachineName}:9355/Nimbus;RuntimePort=9354;ManagementPort=9355"/>
    <add key="AzureBlobStorageConnectionString" value="UseDevelopmentStorage=true"/>
    <add key="AzureBlobStorageContainerUri" value="http://127.0.0.1:10000/devstoreaccount1"/>
    <add key="AzureBlobStorageContainerSharedAccessSignatureSetting" value="Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw=="/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
