<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureServiceBusConnectionString" value="Endpoint=sb://{MachineName}/Nimbus;StsEndpoint=https://{MachineName}:9355/Nimbus;RuntimePort=9354;ManagementPort=9355"/>
    <add key="AzureBlobStorageConnectionString" value="UseDevelopmentStorage=true"/>
  </appSettings>
</configuration>