<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConfigInjector" version="2.0.392.0" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="Serilog" version="1.5.14" targetFramework="net451" />
  <package id="Serilog.Sinks.Seq" version="1.4.14" targetFramework="net451" />
  <package id="Shouldly" version="1.1.1.1" targetFramework="net451" />
</packages>