<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConfigInjector" version="2.1.1058.0" targetFramework="net451" />
  <package id="NUnit" version="3.4.1" targetFramework="net451" />
  <package id="Serilog" version="2.5.0" targetFramework="net451" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net451" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net451" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net451" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net451" />
  <package id="Serilog.Sinks.Seq" version="3.4.0" targetFramework="net451" />
  <package id="Shouldly" version="1.1.1.1" targetFramework="net451" />
</packages>